.login__container {
    display: flex;
    flex-direction: column;
}

.login__container--header {
    
}

.login__container--header > svg:nth-child(1) {
    position: absolute;
}

.login__container--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__container--body__sign-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    border: 1px solid red;
}

.login__container--body__sign-in--logo {

}

.login__container--body__sign-in--title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #000;
}

.login__container--body__sign-in--sub-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
    color: #000;
}

.login__container--body__sign-in--email {

}

.login__container--body__sign-in--password {

}

.login__container--body__sign-in--button {

}

.login__container--body__sign-up {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.login__container--body__sign-up--title {
    font-weight: 300;
    color: #000;
}

.login__container--body__sign-up--button {

}

.login__container--footer {

}